node_modules/
dist/
tools/shots/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/*.keystore
android/app/*.jks
android/capacitor-cordova-android-plugins/build/
*.log
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
